@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: radial-gradient(circle at top left, #444247, #000000, #000000);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.tx-green {
  @apply text-[#0AF231];
}

@layer utilities {
  .glass {
    @apply bg-black/20 backdrop-blur-xl border border-white/10 shadow-2xl;
  }

  .glass-hover {
    @apply hover:bg-white/10 transition-all duration-300;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-pink-600;
  }
}